[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-haskell"]
	path = bundle/vim-haskell
	url = git://github.com/wlangstroth/vim-haskell.git
[submodule "bundle/haskellmode"]
	path = bundle/haskellmode
	url = git://github.com/kevinstreit/VIM-Haskell.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
